*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}


body{
    font-family: Open Sans;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  color: white;
 /* background: rgb(60,60,242);
  background: linear-gradient(90deg, rgba(60,60,242,1) 0%, rgba(98,245,230,1) 52%, rgba(60,60,242,1) 100%);
 
  background-size: cover; */

    background-image: url(https://flleshare.com/782b7fc18a24ee997efd9a7f02fa4bf9-bg_08072019.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainbox{
  position: relative;
  width: 750px;
  height: 750px;
}
.mainbox:after{
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  background: url('arrow-left.png') no-repeat;
  background-size: 32px;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.box{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 10px solid #fff;
  overflow: hidden;
  transition: all ease 5s;
}
span{
  width: 50%;
  height: 50%;
  display: inline-block;
  position: absolute;
}
.span1{
  clip-path: polygon(0 92%, 100% 50%, 0 8%);
  background-color: #00cc81;
  top: 185px;
  left: 0;
}
.span2{
  clip-path: polygon(100% 92%, 0 50%, 100% 8%);
  background-color: #00b06f;
  top: 185px;
  right: 0;
}
.span3{
  clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  background-color: #00d184;
  bottom: 0;
  left: 185px;
}
.span4{
  clip-path: polygon(50% 100%, 92% 0, 8% 0);
  background-color: #00eb95;
  top: 0;
  left: 185px;
}


.box1 .span3 b{
   transform: translate(-50%, -50%) rotate(-270deg);
}
.box1 .span1 b,
.box2 .span1 b{
  transform: translate(-50%, -50%) rotate(185deg);
}
.box2 .span3 b{
  transform: translate(-50%, -50%) rotate(90deg);
}
.box1 .span4 b,
.box2 .span4 b{
  transform: translate(-50%, -50%) rotate(-85deg);
}

.box2{
  width: 100%;
  height: 100%;
  transform: rotate(-135deg);
}
span b{
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.spin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #c7ba82;
  color: #fff;
  box-shadow: 0 5px 20px #000;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;

}
.spin:active{
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.mainbox.animate:after{
  animation: animateArrow 0.7s ease infinite;
}
@keyframes animateArrow{
  50%{
    right: -40px;
  }
}

center {
    font-size: 3rem;
}

        /* Estilos del botón */
        .redeem-button {
            background-color: #00eb95; /* Color de fondo */
            color: #FFFFFF; /* Color del texto */
            font-size: 28px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
        }

        /* Estilo hover (animación) */
        .redeem-button:hover {
            background-color: #c7ba82; /* Cambia el color de fondo al pasar el mouse */
            transform: scale(1.1); /* Escala el botón al 110% del tamaño original */
        }


        /* Estilo para el botón principal */
        #mostrarPopup {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        /* Estilo para el popup (inicialmente oculto) */
        .popup {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1;
        }

        /* Estilo para el contenido del popup */
        .popup-contenido {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        /* Estilo para el botón dentro del popup */
        #botonPopup {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

		#rdmBtn {
	margin-bottom: 5px;
}
